
html
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
      link(rel="stylesheet", href="css/styles.css")
    title roman nikau
    link(rel="icon", href="/img/logorh.jpg")

body.container-flex
  div.row
    div.col-sm-6.about-page
      div.row
            div.col-sm-1
            div.col-sm-11
                ul#horizontal-list-icons
                        li
                            a(href="https://facebook.com/PhotographerRomanNikau/", target = '_blank')
                                img(src='/img/facebook_grey.png', alt = 'facebook icon', height = '23', width = '23')
                            a(href="https://www.instagram.com/nikauroman_photography/", target = '_blank')
                                img(src='/img/instagram_grey.png', alt = 'instagram icon', height = '23', width = '23')
                            a(href="mailto:romannikauphotographer@gmail.com", target = '_blank')
                                img(src='/img/at_grey.png', alt = 'email icon', height = '23', width = '23')
            
      div.row
        div.col-sm-1
        div.col-sm-10
         
            h1.about-page ROMAN NIKAU
            p Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        
            div
                ul.nav.justify-content-left
                    li.nav-item
                        a.nav-link(href='/', class= 'about-page') HOME
                    li.nav-item
                        a.nav-link(href='/landscape', class= 'about-page') LANDSCAPE
                    li.nav-item
                        a.nav-link(href='/street_photography', class= 'about-page') STREET PHOTOGRAPHY
                    li.nav-item
                        a.nav-link(href='/portrait', class= 'about-page') PORTRAIT
                    li.nav-item
                        a.nav-link(href='https://romannikau.picfair.com',class= 'about-page', target = '_blank') SHOP
        div.col-sm-1
    div.col-sm-6
        img(src='img/mt_rainier33.jpg',alt= 'mt rainier', class="about-page")
        




